.skillInput {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.skillInput p {
  margin: 0;
  margin-right: 1rem;
}

.skillSelectWrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.skillSelectWrapper input,
.skillSelectWrapper select {
  margin-bottom: 0;
}

.addSkillButton {
  margin-left: 1rem;
}
